#container2 {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.429);
  border-radius: 50%;
}

.espiral {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Ancho al 100% de la ventana */
  height: 100%;
  /* Alto al 100% de la ventana */
  background: conic-gradient(from 0deg at 50% 50%,
      #93e1f6 0deg 10deg,
      #8bd7ee 10deg 20deg,
      #93e1f6 20deg 30deg,
      #8bd7ee 30deg 40deg,
      #93e1f6 40deg 50deg,
      #8bd7ee 50deg 60deg,
      #93e1f6 60deg 70deg,
      #8bd7ee 70deg 80deg,
      #93e1f6 80deg 90deg,
      #8bd7ee 90deg 100deg,
      #93e1f6 100deg 110deg,
      #8bd7ee 110deg 120deg,
      #93e1f6 120deg 130deg,
      #8bd7ee 130deg 140deg,
      #93e1f6 140deg 150deg,
      #8bd7ee 150deg 160deg,
      #93e1f6 160deg 170deg,
      #8bd7ee 170deg 180deg,
      #93e1f6 180deg 190deg,
      #8bd7ee 190deg 200deg,
      #93e1f6 200deg 210deg,
      #8bd7ee 210deg 220deg,
      #93e1f6 220deg 230deg,
      #8bd7ee 230deg 240deg,
      #93e1f6 240deg 250deg,
      #8bd7ee 250deg 260deg,
      #93e1f6 260deg 270deg,
      #8bd7ee 270deg 280deg,
      #93e1f6 280deg 290deg,
      #8bd7ee 290deg 300deg,
      #93e1f6 300deg 310deg,
      #8bd7ee 310deg 320deg,
      #93e1f6 320deg 330deg,
      #8bd7ee 330deg 340deg,
      #93e1f6 340deg 350deg,
      #8bd7ee 350deg 360deg);
}

#wheel {
  display: block;
  border-radius: 50%;
  border: 16px solid #3d467e;
  /*#6675d4*/
}

#spin {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  margin: -15%;
  background: #fff;
  color: #315577;
  box-shadow: 0 0 0 8px currentColor, 0 0px 20px 5px rgba(0, 0, 0, 50);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.box {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 100%;
  height: 100%;
  margin: -15%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background: transparent;
  border: 7px solid #6861CE;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 2s spin linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  0% {
    transform: rotate(-360deg);
  }
}